.container
{
    display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	width:100%;
	height:605px;
    background-color:slategray;
}
.flex
{
    display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	width:50%;
	height:50%;
	background-color:teal;
}
.input
{
    margin:10px;
}
.dark
{
    color:aqua;
}
.text
{
    color:wheat;
}
.but
{
	color:aqua;
}