<!DOCTYPE html> 
<html>
    <head>
        <title>login</title>
        <link href="static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container1">
            <form class="flex1" method="post" action="/home">
                <h1 class="dark">WELCOME TO THREATER</h1>
                <h2 class="dark">Please LogIn</h2>
                <input class="input" name="username" id="un" placeholder="enter username" required="1"></input><br><br>
                <input class="input" type="tel" name="mobile" id="m" placeholder="enter mobile" required="1"></input><br><br>
                <input class="input" name="password" id="pw" placeholder="enter password" required="1"></input><br><br>
                <button type="submit">login</button><br>
                <h5 class="text">don't have an account? <a href="/signup" class="but">SignUp</a></h5>
            </form>
        </div>
    </body>
</html>