<!DOCTYPE html> 
<html>
    <head>
        <title>login</title>
        <link href="/static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container1">
            <form class="flex1" method="post" action="/home">
                <h1 class="dark">User LogIn</h1>
                <input class="input" name="Username" id="un" required="1" placeholder="Enter the name"></input><br><br>
                <input class="input" name="Mobile_number" id="un" required="1" placeholder="Enter the mobile number"></input><br><br>
                <input class="input" name="password" id="pw" required="1" placeholder="Enter the pasword"></input><br><br>
                <button type="submit" >login</button><br><br>
                <h5 class="text">don't have an account? <a href="/signUp" class="but">SignUp</a></h5>
            </form>
            
        </div>
    </body>
</html>