<!DOCTYPE html> 
<html>
    <head>
        <title>login</title>
        <link href="static/css/login.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <form class="flex" method="post" action="/home">
                <h1 class="dark">User LogIn</h1>
                <input class="input" name="Username" id="un" required="1"></input>
                <input class="input" name="Mobile_number" id="un" required="1"></input>
                <input class="input" name="password" id="pw" required="1"></input>
                <button type="submit">login</button>
                <h5 class="text">don't have an account? <a href="/signup" class="but">SignUp</a></h5>
                <a href="/admin" class="but">AdminLogin</a>
            </form>
        </div>
    </body>
</html>