<!DOCTYPE html> 
<html>
    <hea>
        <title>signup</title>
        <link href="static/css/login.css" rel="stylesheet">
    </hea>
    <body>
        <div class="container">
            <form class="flex" method="post" action="/">
                <h1 class="dark">SignUp</h1>
                <input class="input" name="username" id="un" required="1"></input>
                <input class="input" name="email" id="em" required="1"></input>
                <input class="input" name="password" id="pw" required="1"></input>
                <button type="submit">create</button>
                <h5 class="text">already have an account? <a href="/" class="but">LogIn</a></h5>
            </form>
        </div>
    </body>
</html>