<!DOCTYPE html> 
<html>
    <head>
        <title>signup</title>
        <link href="/static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container1">
            <form class="flex1" method="post" action="/logIn">
                <h1 class="dark">SignUp</h1>
                <input class="input" name="Username" id="un" required="1" placeholder="Enter the name"></input><br><br>
                <input class="input" name="Mobile_number" id="em" required="1" placeholder="Enter the mobile number"></input><br><br>
                <input class="input" name="password" id="pw" required="1" placeholder="Enter the pasword"></input><br><br>
                <input type="submit"></input><br><br>
            </form>
        </div>
    </body>
</html>